@model IEnumerable< TechXpress.Data.Entities.Category>
<select name="categoryId"> 
        <option value="" selected>All</option>
        @foreach (var category in Model)
        {
            <option value="@category.Id">@category.Name</option>
        }
</select>
 